---
---

@import "{{ site.theme }}";

.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .page-header {
    display: flex;

    :nth-child(2) {
      flex: auto;
    }

    a {
      margin: auto;
    }
  }
}

@media (max-width: 1023px) {
  .page-header {
    a {
      display: none;
    }

    .project-tagline {
      margin-bottom: 0.6rem;
    }
  }
}

#your-pick {
  text-align: center;
}

#your-pick-text {
  font-size: 150%;
  font-weight: bold;
  margin-left: 8px;
}

input {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

@media (min-width: 42em) {
  input {
    min-width: 50%;
    max-width: 50em;
  }
}

@media (max-width: 50em) {
  input {
    width: 50em;
    max-width: 100%;
  }
}

input::placeholder {
  color: #dddddd;
}

div#buttons {
  margin-top: 16px;
}

button:not(:first-child) {
  margin-left: 4px;
}

button:not(:last-child) {
  margin-right: 4px;
}
