---
---

@import "{{ site.theme }}";

.page-header {
    padding: 0;
}

.project-tagline {
    margin-bottom: 1rem;
}

#your-pick {
  text-align: center;
}

#your-pick-text {
  font-size: 150%;
  font-weight: bold;
  margin-left: 8px;
}

input {
  display: block;
  width: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
}

input::placeholder {
  color: #dddddd;
}

div#buttons {
  margin-top: 16px;
}

button:not(:first-child) {
  margin-left: 4px;
}

button:not(:last-child) {
  margin-right: 4px;
}
